<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section style="background:#e2e2e2;height:93vh;">
		<div class="container">
			<div class="card">
			    <div class="form-control mt-10"><h1 class="text-center">Smart Contact Manager</h1></div>
				<div class="cord-body mt-5">
				<p>A contact manager is a software program that enables users to easily store and find contact information, such as names,
				 addresses, and telephone numbers. They are contact-centric databases that provide a fully integrated approach to tracking all information
				 and communication activities linked to contacts. Simple ones for personal use are included in most smartphones. </p>
				</div>
			</div>
		</div>
<script type="text/javascript">
$(document).ready(function(){
	$(".nav-link").removeClass("active");
	$("#about").addClass("active");
	
	
});
</script>		
</section>

</body>
</html>